.navbar {
    background-color: #e83e8c;
}

body {
    font-family: 'Open Sans', sans-serif;
}

footer {
    background-color: #17A2B8;
}

i {
    padding-right: 2rem;
}

.suricata {
    background-color: #e83e8c;
}